doctype html
html
  head
    title OmniPlan同步任务自动同步工具
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    div(class='jumbotron text-center')
      a(class='btn btn-default text-center' id='loginBtn' role='button' href='https://account.teambition.com/oauth2/authorize?client_id=132a6150-0ae2-11e6-bfaa-a3d82dc1ed48&redirect_uri=https://jzxgames.herokuapp.com/omniLogin') 登录